<h2><%= "#{@name[1..-2]}".capitalize %></h2>
<h3><%= "Email: #{@email}" %></h3>
<h4>Interests:</h4>
<h4>
  <% interests_output = @interests.map do |interest| %>
    <% "#{interest[3..]}, " %>
  <% end %>
  <%= interests_output.join[0..-3] %>
</h4>
<h4>
    Useful links:
</h4>
<ul>
  <% @contents_arr.each do |profile|%>
    <% next if profile[0].to_s == @name[1..-2] %>
    <h3> 
      <a href="/data/profiles/<%=profile[0]%>.yaml"><%= profile[0] %></a>
    </h3>
  <% end %> 
</ul>